# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Other directories
/node_modules
/deployments

# files
*.log
.env
.env.enc
.DS_Store
.pnp.*
coverage.json
package-lock.json

# IDEs
.idea
.tmp

# YARN
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
